:root {
  /* ### Primary */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);

  /* ### Secondary */

  --red: hsl(0, 87%, 67%);

  /* ### Neutral */

  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

a:focus {
  outline: 3px solid hsla(282, 37%, 68%, 0.755);
  outline-offset: 0.25rem;
}

.page-container {
  width: 100%;
  /* max-width: 960px; */
  overflow-x: hidden;
}

@media screen and (min-width: 1024px) {
  .page-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn {
  display: block;
  background-color: var(--cyan);
  color: white;
  width: 100%;
  padding-top: 0.825rem;
  padding-bottom: 0.825rem;
  text-decoration: none;
  border-radius: 25px;
  transition: box-shadow 200ms ease-in, background-color 100ms ease-in;
}

.btn--dark {
  background-color: var(--dark-violet);
}

.btn.error,
.btn.error:hover {
  background-color: var(--red);
  cursor: default;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px hsla(282, 37%, 68%, 0.755);
}

@media screen and (min-width: 1024px) {
  .btn {
    cursor: pointer;
  }

  .btn:hover {
    background-color: hsl(180, 61%, 65%);
  }

  .btn--dark:hover {
    background-color: var(--dark-violet);
  }
}

.nav {
  width: 100%;
  height: 72px;
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .nav {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.logo {
  padding-top: 8px;
}

.menu-btn {
  padding: 1em;
}

@media screen and (min-width: 1024px) {
  .logo {
    margin-right: 1.5rem;
  }

  .menu-btn {
    display: none;
  }
}

.burger-icon {
  display: none;
  width: 0.1px;
  height: 0.1px;
  z-index: -1;
  right: 9999px;
}

.burger-icon:checked + .menu {
  opacity: 1;
  left: 1.5rem;
}

.menu {
  position: absolute;
  width: 88%;
  background-color: var(--dark-violet);
  top: 80px;
  opacity: 0;
  left: -100%;
  border-radius: 10px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  transition: opacity 250ms ease-in;
  z-index: 10;
}

@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    position: relative;
    opacity: 1;
    left: 0;
    top: 0;
    align-items: center;
    padding: 1rem 0;
    justify-content: space-between;
    background-color: unset;
  }
}

.menu__section {
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  list-style: none;
  text-align: center;
}

.menu__section:first-child {
  border-bottom: 1px solid var(--grayish-violet);
}

@media screen and (min-width: 1024px) {
  .menu__section {
    display: flex;
    padding: 0;
    width: 200px;
  }
  .menu__section:first-child {
    border-bottom: unset;
    width: 300px;
  }
}

.menu__item {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.2em;
}

.menu__item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .menu__item {
    font-size: 0.875em;
    padding: 0;
    line-height: 42px;
  }

  .menu__item a {
    color: var(--grayish-violet);
  }

  .menu__item a:hover {
    color: var(--very-dark-violet);
  }

  .menu__item .primary-btn {
    line-height: 24px;
    padding: 0.5rem 0;
    width: 120px;
    color: white;
  }

  .menu__item .primary-btn:hover {
    color: white;
  }
}

.page-header {
  width: 100%;
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 10rem;
}

@media screen and (min-width: 1024px) {
  .page-header {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.hero-img {
  width: 450px;
  height: 300px;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1.5rem;
  transform: translateX(1.5rem);
}

@media screen and (min-width: 1024px) {
  .hero-img {
    grid-column: 2;
    width: 500px;
    height: 400px;
    object-fit: contain;
    margin-bottom: unset;
    transform: unset;
  }
}

.hero-content {
  padding-top: 1rem;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.hero-content__title {
  text-align: center;
  line-height: 1em;
  color: var(--very-dark-blue);
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: -2px;
  padding-bottom: 1rem;
}

.hero-content__text {
  color: var(--grayish-violet);
  text-align: center;
  font-weight: 500;
  padding-bottom: 1.5rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1024px) {
  .hero-content {
    grid-row: 1/2;
    padding: 0;
  }

  .hero-content__title {
    font-size: 3em;
    text-align: left;
    line-height: 1.2em;
  }

  .hero-content__text {
    text-align: left;
    margin-left: 0;
  }

  .hero-content .primary-btn {
    margin-left: 0;
  }
}

.primary-btn {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.page-section {
  width: 100%;
  padding: 1.5rem;
}

#statistics-page {
  background-color: rgb(244, 243, 245);
  padding-bottom: 0.5rem;
  padding-top: 0;
}

.shortener-section {
  transform: translateY(-70px);
}

@media screen and (min-width: 1024px) {
  .shortener-section {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-70px);
  }
}

.shortener-container {
  position: relative;
  padding: 1rem 1.5rem;
  background-image: url(./images/bg-shorten-mobile.svg);
  background-color: var(--dark-violet);
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 10px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .shortener-container {
    flex-direction: row;
    background-image: url(./images/bg-shorten-desktop.svg);
    align-items: center;
    padding: 1rem 3rem;
    box-shadow: 0 0 20px 4px rgba(24, 17, 26, 0.1),
      0 0 6px 2px rgba(0, 0, 0, 0.2);
  }
}

.links-container {
  width: 100%;
  transition: max-height 300ms ease-in-out;
  /* max-height: 0px; */
}

.links-container__title {
  text-transform: uppercase;
  margin: 2rem 0 0.5rem 1.5rem;
  color: #aaa;
  font-size: 1em;
  letter-spacing: -1px;
}

.links-card {
  padding-bottom: 1rem;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 4px -2px rgba(0, 0, 0, 0.1);
}

.links-card__link {
  font-size: 0.875em;
  font-weight: 500;
  /* margin-left: 0.5rem; */
  padding: 0.5rem;
  color: var(--dark-violet);
  max-width: 320 px;
  overflow-wrap: break-word;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  /* background-color: rgb(247, 247, 247); */
}

.links-btn {
  text-align: center;
  height: 36px;
  padding: 0;
  line-height: 36px;
  width: 100%;
  border-radius: 5px;
  font-size: 0.825em;
}

.links-card__shortened-link {
  width: 100%;
  color: var(--cyan);
  font-size: 0.875em;
  margin-bottom: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #f2fdfd;
  display: block;
}

.links-card__shortened-link.error,
.links-card__shortened-link.error:hover {
  color: var(--red);
}

@media screen and (min-width: 1024px) {
  .links-card {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    max-height: 56px;
    box-shadow: 0 0 10px -2px rgba(24, 17, 26, 0.1),
      0 0 2px 1px rgba(24, 17, 26, 0.1);
  }

  .links-card__link {
    margin: 0;
    border-bottom: unset;
    flex: 4;
    padding: 0;
  }

  .links-card__shortened-link {
    flex: 2;
    margin: 0 1.5rem 0 0;
    text-align: right;
    background-color: unset;
    padding: 0;
  }

  .links-card__shortened-link:hover {
    color: hsl(180, 61%, 65%);
  }

  .links-btn {
    flex: 1;
  }
}

.shortener-input {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 5px;
  padding: 1.5rem;
  font-size: 1.2em;
  color: var(--very-dark-blue);
  transition: box-shadow 200ms ease-in;
}

.shortener-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px hsla(180, 72%, 62%, 0.576);
}

.shortener-input.error,
.shortener-input.error:focus {
  box-shadow: 0 0 0 3px var(--red);
}

@media screen and (min-width: 1024px) {
  .shortener-input {
    flex: 2;
    margin-right: 1.5rem;
  }
}

.shortener-input::placeholder {
  font-size: 1em;
  color: var(--gray);
}

.shortener-btn {
  border: none;
  width: 100%;
  border-radius: 5px;
  height: 48px;
  font-size: 1.1em;
  letter-spacing: 0px;
}

@media screen and (min-width: 1024px) {
  .shortener-btn {
    flex: 1;
  }
}

.page-section__title {
  color: var(--very-dark-blue);
  text-align: center;
  width: 100%;
  font-size: 1.6em;
  letter-spacing: -1px;
  padding-bottom: 1.25rem;
}

@media screen and (min-width: 1024px) {
  .page-section__title {
    padding-bottom: 0.5rem;
    font-size: 2em;
  }
}

.page-section__title--light {
  color: white;
}

.page-section__text {
  font-size: 1em;
  color: var(--grayish-violet);
  text-align: center;
  font-weight: 500;
  line-height: 1.75em;
}

@media screen and (min-width: 1024px) {
  .page-section__text {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

.features-container {
  padding-top: 8rem;
  width: 100%;
  position: relative;
}

.features-container::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 760px;
  background-color: var(--cyan);
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 1024px) {
  .features-container {
    position: relative;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .features-container::before {
    content: "";
    position: absolute;
    width: 760px;
    height: 5px;
    background-color: var(--cyan);
    top: 50%;
    left: 100px;
    transform: unset;
  }
}

.features-card {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 0 2rem 2rem 2rem;
  text-align: center;
  margin-bottom: 6rem;
  box-shadow: 0 0 4px -2px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

@media screen and (min-width: 1024px) {
  .features-card {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 310px;
    box-shadow: 0 0 20px -2px rgba(24, 17, 26, 0.1),
      0 0 4px 0px rgba(24, 17, 26, 0.1);
  }

  .features-card:first-child {
    transform: translateY(-15%);
  }

  .features-card:last-child {
    transform: translateY(15%);
  }
}

.features-card__img {
  width: 80px;
  height: 80px;
  background-color: var(--dark-violet);
  object-fit: contain;
  padding: 1.25rem;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-40px);
}

.features-card__title {
  color: var(--very-dark-violet);
  padding-bottom: 1rem;
  font-size: 1.25em;
  transform: translateY(-10px);
}

.features-card__text {
  color: var(--grayish-violet);
  transform: translateY(-10px);
}

@media screen and (min-width: 1024px) {
  .features-card__img {
    margin-left: 0;
  }

  .features-card__title,
  .features-card__text {
    text-align: left;
  }
}

#cta-section {
  background-color: var(--dark-violet);
  background-image: url(./images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 5.8rem;
  padding-top: 5.8rem;
}

@media screen and (min-width: 1024px) {
  #cta-section {
    background-image: url(./images/bg-boost-desktop.svg);
    padding: 3.5rem 0;
  }

  #cta-section .page-section__title {
    margin-bottom: 2rem;
  }
}

.page-footer {
  background-color: var(--very-dark-violet);
  padding: 3rem 1.5rem;
}

.footer-container {
  max-width: 960px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .footer-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

.page-footer .logo {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.footer-section {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

.footer-section__title {
  color: white;
  text-align: center;
  padding: 1.5rem 0;
}

@media screen and (min-width: 1024px) {
  .page-footer .logo {
    margin-right: 5rem;
  }
  .footer-section {
    margin-top: 0;
  }
  .footer-section__title {
    padding-top: 0.5rem;
    text-align: left;
  }
}

.footer-section__list {
  list-style: none;
  text-align: center;
}

.footer-section__list a {
  color: var(--gray);
  text-decoration: none;
  line-height: 2em;
}

@media screen and (min-width: 1024px) {
  .footer-section__list {
    text-align: left;
  }

  .footer-section__list a:hover {
    color: var(--cyan);
  }
}

.social-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .social-container {
    padding-top: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .social-container {
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
  }
  .social-container svg {
    cursor: pointer;
  }

  .social-container svg:hover > path {
    fill: var(--cyan);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Iconos ------------------------------------ */

.lnr {
  font-size: 20px;
  line-height: 36px;
}

/* animaciones ------------------------------- */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  display: block;
  animation: spin 1000ms linear infinite;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

@keyframes resize-height {
  0% {
    opacity: 0.5;
    transform: scaleY(0);
    height: 0;
  }
  50% {
    transform: scaleY(1.1);
    height: 128px;
  }
  100% {
    transform: scaleY(1);
    height: 164px;
  }
}

@media screen and (min-height: 1024px) {
  @keyframes resize-height {
    0% {
      opacity: 0.5;
      transform: scaleY(0);
      height: 0;
    }
    50% {
      transform: scaleY(1.1);
      height: 56px;
    }
    100% {
      transform: scaleY(1);
      height: 56px;
    }
  }
}

.resize-height {
  /* transform-origin: top; */
  animation: resize-height 250ms ease-in forwards;
}

@keyframes shake {
  0% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
